@blip-color: rgb(76, 76, 76);
@blip-hover: rgb(36, 159, 221);

.blipDemonsrative {
    cursor: pointer;
}

.blipEditable {
    cursor: grab;
}

.blipField {
    fill: rgb(255, 244, 40);
    filter: drop-shadow(1px 1px 0.5px rgb(0 0 0 / 0.4));
}

.blipFieldActive {
    .blipField;
    fill: rgb(251, 251, 135);
    stroke: @blip-hover;
}

.blipText {
    fill: @blip-color;
    font-weight: bold;
    font-family: sans-serif;
    stroke: none;
}

.blipTextActive {
    .blipText;
    fill: @blip-hover;
}
