@line-color: rgb(88, 88, 88);
@label-color: rgb(150, 150, 150);
@blip-color: rgb(76, 76, 76);
@active-color: rgb(57, 188, 195);

.ringName {
    fill: @label-color;
    font: normal 8px sans-serif;
    user-select: none;
}

.ringNameActive {
    .ringName;
    fill: @active-color;
    cursor: pointer;
}

.sectorName {
    user-select: none;
    fill: @label-color;
    font-weight: bold;
    font-family: sans-serif;
    text-anchor: middle;
    cursor: pointer;
}

.sectorNameActive {
    .sectorName;
    fill: @active-color;
}

.segment {
    stroke-width: 1px;
    stroke: @line-color;
}

.segmentActive {
    stroke-width: 3px;
    stroke: @active-color;
    cursor: none;
}

.sectorDemonstrative {
    transition: transform 0.4s;
    cursor: pointer;
}

.sectorDefault {
    cursor: auto;
}
