@import '../../../../styles/global.less';

@containerSize: 800px;
@controlHeight: 32px;

.container {
    width: @containerSize;
    margin-right: 50px;
}

.radarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: @containerSize;
    height: @containerSize;
}

.controlContainer {
    display: flex;
    justify-content: center;
    min-height: @controlHeight;
    margin-top: 20px;
}

.selectContainer {
    display: flex;
    justify-content: center;
}
