@import '../../../../styles/global.less';

@containerSize: 600px;
@controlHeight: 32px;

.container {
    width: @containerSize;
    margin-right: 50px;
}

.radarContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: @containerSize;
    height: @containerSize;
}

.controlContainer {
    display: flex;
    justify-content: center;
    min-height: @controlHeight;
    margin-top: 20px;
}

.selectContainer {
    display: flex;
    justify-content: center;
    box-shadow: 0 0 5px rgb(156, 156, 156);
    border-radius: 5px;
}
