@label-color: rgb(150, 150, 150);

.item {
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.accordionSummary {
    cursor: pointer;
    &Active {
        color: white;
        background-color: black;
    }
}

.accordionDescription {
    word-wrap: break-word;
    padding: 10px;
    display: none;
    overflow: hidden;

    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    transition: max-height 1s;
}

.ringGroup {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    width: 130px;
}

.ringGroupHeader {
    margin: 5px 0;
    color: @label-color;
}

.sectorGroup {
    list-style-type: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.sectorGroupContainer {
    margin-bottom: 10px;
}

.sectorGroupHeader {
    @font-size: 18px;
    margin: 5px 0;
    color: @label-color;
    font-size: @font-size;
}

.legendContainer {
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
