@import '../../../styles/global.less';
@generator-size: 50px;

.generator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 40px;
    left: 100px;
    width: @generator-size;
    height: @generator-size;
    border-radius: calc(@generator-size / 2);
    user-select: none;
}

.active {
    background-color: @button-hh-color;
    font-size: 30px;
    font-weight: bold;
    color: white;
    box-shadow: 2px 3px 3px rgba(71, 71, 71, 0.493);
    cursor: grab;
    &:hover {
        transform: scale(1.2);
    }
}

.inactive {
    border: 1px dashed grey;
    font-size: 10px;
    text-align: center;
    animation-duration: 0.5s;
    animation-name: twitch;
}

@keyframes twitch {
    from {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    to {
        transform: scale(1);
    }
}
