.draggable {
    position: absolute;
    z-index: 50;
    pointer-events: none;
}

.cursor {
    position: absolute;
    transform: translate(15px, 15px);
}

.wrapper * {
    cursor: grabbing !important;
}
