@import '../../../styles/global.less';

@item-max-width: 130px;

.item {
    font-size: 12px;
    // position: relative;
}
.itemActive {
    background-color: black;
    color: white;
}

.itemEditMenu {
    padding: 5px;
    display: flex;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0 0 10px gray;
}

.itemList {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sectorContainer {
    margin: 20px 0;
}

.sectorContainerList {
    display: flex;
    flex-wrap: wrap;
}

.sectorName {
    margin: 2px;
    font-size: 16px;
    opacity: 0.5;
}

.ringContainer {
    width: @item-max-width;
    padding: 3px;
}

.ringContainerIsOver {
    background-color: rgb(175, 222, 255);
    opacity: 0.5;
    transform: scale(1.2);
    outline: dashed 1px rgb(84, 162, 218);
    box-shadow: 3px 3px 3px rgba(106, 106, 106, 0.3);
}

.ringName {
    color: @label-color;
    margin: 3px 0;
    font-size: 14px;
}

.main {
    height: 450px;
    scroll-behavior: smooth;
    overflow: auto;
}

.emptyContainer {
    height: 90%;
    width: 100%;
    display: flex;
    font-size: 12px;
    align-items: center;
    color: @empty-container-color;
}

.container {
    margin-top: 10px;
    border-right: 1px solid @gray-hh-color;
}

.buttonContainer {
    margin-bottom: 10px;
}
