.main {
    width: 500px;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(214, 214, 214);
}

.upperContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.viewModeControl {
    display: flex;
    align-items: center;
}

.tableHeader {
    font-weight: bold;
}

.tableRowActive {
    background-color: rgb(172, 172, 172);
}

.tableRow:hover {
    .tableRowActive;
}

.table {
    max-height: 500px;
}
