.main {
    width: 550px;
    padding: 0 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(214, 214, 214);
}

.upperContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.viewModeControl {
    display: flex;
    align-items: center;
}

.tableHeader {
    font-weight: bold !important;
}

.tableRowActive {
    background-color: black !important;
    color: white;
}

.tableRow:hover {
    .tableRowActive;
}

.table {
    max-height: 500px;
}
