.modal {
    padding: 20px;
    background-color: white;
    width: 300px;
    outline: none;
    position: fixed;
    top: 20px;
    left: 20px;
}

.buttonContainer {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header {
    color: gray;
    font: 12 bolder sans-serif;
    margin: 10px 0;
}
