@import '../../../../styles/global.less';

.background {
    background-color: @light-gray-hh-color;
    border-bottom: 1px solid @gray-hh-color;
}

.container {
    width: 100%;
    padding: 5px 0;
    display: flex;
    box-sizing: border-box;
    margin: 5px 0;
    gap: 30px;
}

.spacer {
    flex-grow: 1;
}

.constSpacer {
    width: 370px;
}
