@import '../../../../src/styles/global.less';

.container {
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    border-left: 1px solid @gray-hh-color;
}

.emptyContainer {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 40px;
    justify-content: center;
    align-items: center;
    color: @empty-container-color;
    text-align: center;
}

.list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.versionName {
    font-size: 10px;
    font-weight: bold;
    color: white;
    background-color: @dark-gray-hh-color;
    padding: 3px 10px;
    margin-top: 10px;
}
